<section class="cards">
    <div class="container cards__container">
        <ul class="list cards__list">
            <li class="cards__item">
                <ul class="cards__list-city">
                    <li><button class="button cards__btn">CAFE
                    </button></li>
                    <li class="cards__items">
                        <h3 class="cards__item-city cards__items-city ">Chicago</h3>
                    <p class="cards__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </li>
                    <li class="cards__items-monday">
                        <h3 class="cards__item-city">Monday - Friday</h3>
                        <p class="cards__time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="cards__items">
                        <h3 class="cards__item-city">Saturday - Sunday</h3>
                        <p class="cards__time">08:00 AM - 16:00 PM</p>
                    </li>
                    <li class="cards__tel">
                        <a href="tel:+610383766284" class="cards__contacts">+61(0) 383 766 284</a>
                        <a href="mailto:noreply@envato.com" class="cards__contacts">noreply@envato.com</a>
                    </li>
                </ul>

            </li>
            <li class="cards__item">
                <ul class="cards__list-city">
                    <button class="cards__btn cards__btn--foodtruck">FOODTRUCK
                    </button>
                    <li class="cards__items">
                        <h3 class="cards__item-city cards__items-city">Los Angeles</h3>
                        <p class="cards__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </li>
                    <li class="cards__items-monday">
                        <h3 class="cards__item-city">Monday - Friday</h3>
                        <p class="cards__time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="cards__items">
                        <h3 class="cards__item-city">Saturday - Sunday</h3>
                        <p class="cards__time">08:00 AM - 16:00 PM</p>
                    </li>
                    <li class="cards__tel">
                    <a href="tel:+610383766284" class="cards__contacts">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="cards__contacts">noreply@envato.com</a>
                    </li>
                </ul>

            </li>
            <li class="cards__item">
                <ul class="cards__list-city">
                    <button class="cards__btn">CAFE
                    </button>
                    <li class="cards__items">
                        <h3 class="cards__item-city cards__items-city">New York</h3>
                        <p class="cards__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </li>
                    <li class="cards__items-monday">
                        <h3 class="cards__item-city">Monday - Friday</h3>
                        <p class="cards__time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="cards__items">
                        <h3 class="cards__item-city">Saturday - Sunday</h3>
                        <p class="cards__time">08:00 AM - 16:00 PM</p>
                    </li>
                    <li class="cards__tel">
                        <a href="tel:+610383766284" class="cards__contacts">+61(0) 383 766 284</a>
                        <a href="mailto:noreply@envato.com" class="cards__contacts">noreply@envato.com</a>
                    </li>
                </ul>

            </li>
            
        </ul>
        <div class="cards__buttons">
            <button type="button" class="button cards__button">Our Locations
                <svg class="cards__icon" >
                    <use href="./images/sprite/symbol-defs.svg#little-arrow" >

                    </use>
                </svg>
            </button>
            <button class="button cards__button cards__buttom--franchise">Franchise
                <svg class="cards__icon cards__icon--franchise">
                    <use href="./images/sprite/symbol-defs.svg#little-arrow">
                    </use>
                </svg>
            </button>
        </div>
        
    </div>
</section>