<footer class="footer">
  <div class="container footer-container">
    <h2 class="footer__title">
      homemade ice cream made
      <span class="footer__title-text">with passion</span>
    </h2>
    <div class="footer__contacts">
      <ul class="footer-social">
        <li class="footer-social__item">
          <a href="" class="footer-social__link">
            <svg class="footer-social__icon">
              <use href="./images/sprite/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social__item">
          <a href="" class="footer-social__link">
            <svg class="footer-social__icon">
              <use href="./images/sprite/symbol-defs.svg#telegram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social__item">
          <a href="" class="footer-social__link">
            <svg class="footer-social__icon">
              <use href="./images/sprite/symbol-defs.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <b class="footer__text">
        Feel free to contact
        <a href="tel:+610383766284" class="footer__telephone">
          +61 (0) 383 766 284
        </a>
      </b>
    </div>
  </div>
  <div class="footer-copy">
    <p class="footer-copy__text">&copy 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
