<div class="slider">
  <div class="container">
    <div>
      <img
        srcset="./images/testimonials/testimonials-1@2x.png 2x"
        class="slider__image"
        src="./images/testimonials/testimonials-1.png"
        alt=""
      />
    </div>
    <div class="slider__text">
      <img
        class="slider__brackets"
        src="./images/testimonials/brackets.svg"
        alt=""
      />
      <div class="slider__paragraph__wrapper">
        <p class="slider__text__paragraph">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
      </div>
    </div>
    <span class="slider__dots"> . . . </span>
    <h3 class="slider__title">Emily, Los Angeles</h3>
    <div class="slider__slider">
      <img
        class="slider__slider__image"
        src="./images/testimonials/home.svg"
        alt=""
      />
      <img
        class="slider__slider__image"
        src="./images/testimonials/ellipse.svg"
        alt=""
      />
      <img
        class="slider__slider__image"
        src="./images/testimonials/ellipse.svg"
        alt=""
      />
    </div>
  </div>
</div>
